/* https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Noto Sans TC", sans-serif, Arial;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

h1 {
  display: none;
}

ol,
ul,
p {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
}

a {
  color: #282828;
  text-decoration: none;
}

/* Set core body defaults */
body {
  font-family: "Noto Sans TC", sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  letter-spacing: 0.1em;
  background: #fbfbfb;
  color: #282828;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  width: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  background: none;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: 1080px;
  padding: 0 16px;
  margin: 0 auto;
}

.logo {
  width: 198px;
  height: 33px;
}

.header {
  position: fixed;
  top: 0;
  padding: 16px 0;
  width: 100%;
  background: #fa65a1;
  z-index: 999;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #00b792;
  color: #ffffff;
  max-height: 100px;
}
.footer-info {
  padding: 16px 0 24px;
  text-align: center;
}
.footer-info .logo {
  margin: 0 auto;
}
.footer .copy-right {
  padding-top: 16px;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 35.6770833333vw;
    height: 6.25vw;
    margin: auto;
  }
  .header {
    padding: 3.125vw 0;
  }
  .footer {
    max-height: 26.0416666667vw;
  }
  .footer-info {
    padding: 2.0833333333vw 0 3.125vw;
  }
  .footer .copy-right {
    padding: 4.1666666667vw 0;
    font-size: 3.6458333333vw;
  }
}
.wrapper {
  overflow: hidden;
}

.section-kv {
  position: relative;
  overflow: hidden;
  min-height: 990px;
}
.section-kv__decobox * {
  position: absolute;
}
.section-kv__bg {
  min-height: 990px;
  background: #53e8cf;
}
.section-kv__circle {
  position: relative;
  width: 100%;
  height: 990px;
  background: url(../images/kv-background-circle.svg) no-repeat;
  background-position: center top;
  background-size: auto 100%;
  z-index: 2;
}
.section-kv__corner {
  width: 515px;
  height: 515px;
  left: calc(50% + 28em);
  bottom: 0;
}
.section-kv__marquee {
  top: -4.375em;
  left: calc(50% - 87.5em);
  width: 100%;
  height: 100%;
  background: url(../images/kv-bg-marquee.svg) no-repeat;
  background-size: auto 100%;
  overflow: hidden;
}
.section-kv__cat01 {
  width: 100px;
  height: 100px;
  left: calc(50% - 57.3125em);
  bottom: 13.75em;
  -webkit-animation: swing 3s ease infinite;
          animation: swing 3s ease infinite;
}
.section-kv__cat02 {
  width: 100px;
  height: 100px;
  top: 24.125em;
  left: calc(50% + 50.5em);
  -webkit-animation: swing 2s ease infinite;
          animation: swing 2s ease infinite;
}
.section-kv__d-girl {
  width: 1920px;
  height: 900px;
  z-index: 5;
  top: 0;
  left: calc(50% - 60em);
}
.section-kv__shine01 {
  width: 48px;
  height: 65px;
  top: 30.75em;
  left: calc(50% + 21.5em);
  z-index: 4;
  animation: shine 1s infinite alternate-reverse;
}
.section-kv__shine02 {
  width: 77px;
  height: 105px;
  top: 9.75em;
  left: calc(50% - 19.75em);
  z-index: 4;
  animation: shine 1s infinite alternate-reverse;
}
.section-kv__shine03 {
  width: 50px;
  height: 67px;
  top: 11.875em;
  left: calc(50% - 19.75em);
  animation: shine 1s infinite alternate-reverse;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.section-kv__textbox {
  position: relative;
  z-index: 6;
  margin: -23.8125em auto;
}
.section-kv__main-title {
  max-width: 1427px;
  margin: 0 auto;
}
.section-kv__sec-title {
  max-width: 688px;
  margin: 0 auto;
  padding-top: 0.875em;
}
.section-kv .icon-line {
  width: 554px;
  height: 553px;
}
.section-kv__line01 {
  top: 7.25em;
  left: calc(50% - 90em);
}
.section-kv__line02 {
  top: -6.5em;
  left: calc(50% + 36.6875em);
}
.section-kv__line03 {
  bottom: -26.875em;
  left: calc(50% - 5.875em);
}

.section {
  padding: 70px 0;
}
.section .decobox * {
  position: absolute;
  z-index: 5;
}
.section .decobox__circle-blue01 {
  width: 345px;
  height: 345px;
  left: calc(50% + 35em);
}
.section .decobox__circle-blue01.right {
  top: 525px;
  left: calc(50% + 29.375em);
}
.section .decobox__circle-blue02 {
  width: 140px;
  height: 140px;
  top: 2.8125em;
  left: calc(50% - 43.0625em);
}
.section .decobox__circle-blue02.left {
  top: 1140px;
  left: calc(50% - 40.625em);
}
.section .decobox__circle-pink {
  width: 70px;
  height: 70px;
  top: 3.4375em;
  left: calc(50% + 32.4375em);
}
.section .decobox__circle-purple {
  width: 188px;
  height: 188px;
  top: 31em;
  left: calc(50% - 51.5625em);
}
.section .decobox__circle-blue-xs {
  width: 82px;
  height: 82px;
  left: calc(50% - 40.6875em);
  top: 56.25em;
}
.section .decobox__circle-yellow01 {
  width: 367px;
  height: 367px;
  left: calc(50% - 59.0625em);
  bottom: -12.8125em;
}
.section .decobox__circle-yellow02 {
  width: 375px;
  height: 375px;
  left: calc(50% + 29.375em);
  top: 15em;
}
.section .decobox__vector-slash {
  width: 366px;
  height: 366px;
  left: calc(50% - 56.875em);
}
.section .decobox__vector-slash.right {
  top: 26.25em;
  left: calc(50% + 39em);
}
.section .decobox__vector-slash.left {
  top: 73.25em;
  left: calc(50% - 55.3125em);
}
.section .decobox__vector-dots {
  width: 71px;
  height: 176px;
  top: 21.25em;
  left: calc(50% + 49.25em);
}
.section .decobox__vector-dots.left {
  top: 62.3125em;
  left: calc(50% - 55.3125em);
}
.section .decobox__vector-dots.right {
  top: 46.875em;
  left: calc(50% + 45em);
}
.section .decobox__line-yellow {
  width: 717px;
  height: 717px;
  top: -0.875em;
  left: calc(50% - 80em);
  z-index: 3;
}
.section .decobox__line-purple {
  width: 717px;
  height: 717px;
  bottom: -30.125em;
  left: calc(50% + 37.875em);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.section .decobox__line-blue {
  width: 717px;
  height: 717px;
  top: 21.5em;
  left: calc(50% - 80em);
}
.section::before, .section::after {
  content: "";
  position: absolute;
  left: 50%;
  display: block;
  width: 100%;
  padding-bottom: 160px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 1;
}
.section:nth-child(2)::before {
  top: 0;
  background: url(../images/bg-gray--wave.svg);
  background-size: auto 100%;
  background-position: right bottom;
  background-repeat: repeat-x;
  animation: wave 3s infinite linear alternate-reverse;
}
.section:nth-child(2)::after {
  bottom: -150px;
  background: url(../images/bg-yellow--wave.svg);
  background-size: auto 100%;
  background-repeat: repeat-x;
  animation: wave 3s infinite linear alternate-reverse;
}
.section:nth-child(3)::after {
  bottom: -150px;
  background: url(../images/bg-gray--wave.svg);
  background-size: auto 100%;
  background-position: right bottom;
  background-repeat: repeat-x;
  animation: wave 3s infinite linear alternate-reverse;
}
.section:nth-child(4)::after {
  bottom: 0em;
  background: url(../images/bg-green--wave.svg);
  background-size: auto 100%;
  background-repeat: repeat;
  background-position: right bottom;
  animation: wave 3s infinite linear alternate-reverse;
}
.section .row-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-heading {
  height: 40px;
  margin: 0 auto;
}
.section-heading__about {
  width: 330px;
}
.section-heading__intro {
  width: 490px;
}
.section-heading__free {
  width: 445px;
  height: 50px;
}
.section-heading__pro {
  width: 347px;
  height: 46px;
}
.section-heading__more {
  width: 317px;
  height: 48px;
}
.section-heading__daren {
  width: 330px;
  position: relative;
  z-index: 4;
}
.section-heading__apply {
  width: 246px;
}
.section-heading__text {
  padding: 24px 0;
  font-size: 20px;
}
.section-wrapper {
  padding-top: 90px;
}
.section-btnbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-intro {
  background: #dafffa;
  position: relative;
  padding-bottom: 0;
  z-index: 3;
}
.section-intro__inner {
  padding-bottom: 50px;
  position: relative;
  z-index: 3;
}
.section-chapter {
  position: relative;
  width: 100%;
  background: #fff9c0;
}
.section-chapter__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 70px;
}
.section-chapter__content:nth-last-child(1) {
  padding-bottom: 0;
}
.section-chapter__content.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.section-chapter__imgbox {
  margin-left: 16px;
}
.section-chapter__imgbox .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-chapter__imgbox .inner__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 24px;
}
.section-chapter__imgbox .inner__item-img {
  width: 103px;
  height: 103px;
}
.section-chapter__imgbox .inner__item-name {
  font-size: 20px;
  font-weight: 500;
}
.section-chapter__imgbox .inner__item-name.level-1 {
  color: #00724c;
}
.section-chapter__imgbox .inner__item-name.level-2 {
  color: #3099f0;
}
.section-chapter__imgbox .inner__item-name.level-3 {
  color: #fa65a1;
}
.section-chapter__imgbox .d-girl01 {
  width: 431px;
  height: 313px;
}
.section-chapter__imgbox .d-girl02 {
  width: 391px;
  height: 335px;
}
.section-daren {
  position: relative;
  padding-top: 90px;
  background: #dafffa;
}
.section-daren__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  margin-top: 40px;
  padding-left: 46px;
  font-size: 32px;
  font-weight: 700;
  color: #00724c;
}
.section-daren__title-icon::before {
  width: 46px;
  height: 38px;
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  background: url(../images/icon-forum.svg) no-repeat;
  background-position: left top;
}
.section-daren__title-icon.home::before {
  background: url(../images/icon-home.svg) no-repeat;
}
.section-daren__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 40px;
  z-index: 5;
}
.section-daren__left {
  padding-right: 24px;
}
.section-daren__item {
  margin-bottom: 16px;
}
.section-daren__card {
  display: inline-block;
  width: 575px;
  height: 378px;
  position: relative;
  background: url(../images/bh_no_image.svg) #696969;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  overflow: hidden;
}
.section-daren__card::before {
  content: "";
  position: absolute;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), to(rgb(0, 0, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 100%);
  width: 100%;
  height: 100%;
  z-index: 3;
}
.section-daren__card-sm {
  height: 246px;
}
.section-daren__card-md {
  width: 450px;
  height: 270px;
}
.section-daren__card-lg {
  width: 450px;
  height: 362px;
}
.section-daren__card-img {
  width: 100%;
  height: 100%;
}
.section-daren__card-img .cover {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-daren__card-tag {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 12px;
  font-size: 16px;
  color: #ffffff;
  background: rgba(0, 183, 146, 0.8);
  border-radius: 0 0 16px 0;
  z-index: 6;
}
.section-daren__card-heading {
  display: -webkit-box;
  position: absolute;
  bottom: 16px;
  width: 100%;
  max-height: 82px;
  padding: 16px 16px 0;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  z-index: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.section-daren__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-daren__author .profile {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #00724c;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-daren__author .name {
  padding: 0 8px;
  font-weight: 500;
}
.section-daren__author .count {
  padding-right: 4px;
  color: #7e7e7e;
}
.section-daren__author .medal {
  width: 24px;
  height: 24px;
}
.section-step {
  position: relative;
  padding-bottom: 90px;
  z-index: 4;
}
.section-step__rule {
  padding: 24px 0;
  font-size: 20px;
  text-align: center;
}
.section-step--link {
  color: #00b792;
  font-weight: 700;
  text-decoration: underline;
}
.section-step--link:hover {
  color: #80d6bf;
}
.section-step__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 65px 0 115px;
}
.section-step__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-width: 270px;
}
.section-step__item-img {
  width: 222px;
  height: 200px;
}
.section-step__item-text {
  padding: 8px 0 24px;
  font-size: 18px;
}
.section-step__item-text .title {
  color: #00b792;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
}
.section-step__item-text .num {
  font-size: 72px;
  margin-right: -8px;
  color: #00b792;
  opacity: 0.2;
  font-weight: 900;
}
.section-step__item-text .step {
  font-size: 24px;
}
.section-step__item .arrow {
  width: 25px;
  height: 210px;
  margin: 0 48px;
}
.section-apply {
  width: 100%;
  padding: 16px 0;
  background: rgb(1, 90, 72);
  text-align: center;
  -webkit-box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: -1px;
  z-index: 99999;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.section-apply--fixed {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 1080px) {
  .container {
    padding: 0 1.4814814815vw;
  }
  .section-kv {
    min-height: 91.6666666667vw;
  }
  .section-kv__bg {
    min-height: 91.6666666667vw;
  }
  .section-kv__circle {
    height: 91.6666666667vw;
    background: url(../images/kv-background-circle.svg) no-repeat;
    background-position: center top;
    background-size: auto 100%;
    z-index: 2;
  }
  .section-kv__textbox {
    margin: -27.7777777778vw auto;
  }
  .section-kv__d-girl {
    width: 177.7777777778vw;
    height: 83.3333333333vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .section-kv__shine01 {
    width: 4.4444444444vw;
    height: 6.0185185185vw;
    top: 45.5555555556vw;
    left: calc(50% + 31.8518518519vw);
  }
  .section-kv__shine02 {
    width: 10.0925925926vw;
    height: 14.7222222222vw;
    top: 9.6296296296vw;
    left: calc(50% - 29.2592592593vw);
  }
  .section-kv__shine03 {
    width: 4.6296296296vw;
    height: 6.2037037037vw;
    top: 17.5925925926vw;
    left: calc(50% - 29.2592592593vw);
  }
  .section-kv__main-title {
    max-width: 132.1296296296vw;
  }
  .section-kv__sec-title {
    max-width: 63.7037037037vw;
    margin: 0 auto;
    padding-top: 0.875em;
  }
  .section {
    padding-top: 9.2592592593vw;
  }
  .section-chapter {
    padding-top: 18.5185185185vw;
  }
  .section-step {
    padding-top: 18.5185185185vw;
  }
  .section-step__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-step__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 50vw;
  }
  .section-step .arrow {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    width: 2.3148148148vw;
    height: 19.4444444444vw;
    margin: 0 4.4444444444vw;
  }
  .section-daren__title {
    margin-top: 3.7037037037vw;
    padding-left: 4.2592592593vw;
    font-size: 2.962962963vw;
  }
  .section-daren__title-icon::before {
    width: 4.2592592593vw;
    height: 3.5185185185vw;
    top: 0.462962963vw;
  }
  .section-daren__row {
    margin-top: 3.7037037037vw;
  }
  .section-daren__left {
    padding-right: 2.2222222222vw;
  }
  .section-daren__item {
    margin-bottom: 1.4814814815vw;
  }
  .section-daren__card {
    width: 53.2407407407vw;
    height: 35vw;
    border-radius: 1.4814814815vw;
  }
  .section-daren__card-sm {
    height: 22.7777777778vw;
  }
  .section-daren__card-md {
    width: 41.6666666667vw;
    height: 25vw;
  }
  .section-daren__card-lg {
    width: 41.6666666667vw;
    height: 33.5185185185vw;
  }
  .section-daren__card-tag {
    padding: 0.7407407407vw 1.1111111111vw;
    font-size: 1.4814814815vw;
    border-radius: 0 0 1.4814814815vw 0;
  }
  .section-daren__card-heading {
    bottom: 1.4814814815vw;
    max-height: 7.5925925926vw;
    padding: 1.4814814815vw 1.4814814815vw 0;
    font-size: 1.8518518519vw;
  }
  .section-daren__author .profile {
    width: 2.2222222222vw;
    height: 2.2222222222vw;
  }
  .section-daren__author .name {
    padding: 0 0.7407407407vw;
  }
  .section-daren__author .count {
    padding-right: 0.3703703704vw;
  }
  .section-daren__author .medal {
    width: 2.2222222222vw;
    height: 2.2222222222vw;
  }
  .section-apply {
    padding: 5.2083333333vw 0;
    -webkit-box-shadow: 0 -1.3020833333vw 5.2083333333vw rgba(0, 0, 0, 0.3);
            box-shadow: 0 -1.3020833333vw 5.2083333333vw rgba(0, 0, 0, 0.3);
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 5.2083333333vw;
  }
  .section-kv {
    min-height: 128.90625vw;
  }
  .section-kv__bg {
    min-height: 128.90625vw;
  }
  .section-kv__circle {
    height: 128.90625vw;
    background-position: right 45% center;
  }
  .section-kv__marquee {
    top: -36.4583333333vw;
    left: calc(50% - 114.5833333333vw);
  }
  .section-kv__cat01 {
    width: 13.0208333333vw;
    height: 13.0208333333vw;
    left: calc(50% - 39.0625vw);
    bottom: 36.4583333333vw;
  }
  .section-kv__d-girl {
    width: 221.3541666667vw;
    height: 97.65625vw;
  }
  .section-kv__shine01 {
    width: 6.25vw;
    height: 8.4635416667vw;
    top: 62.5vw;
    left: calc(50% + 35.15625vw);
  }
  .section-kv__shine02 {
    width: 14.1927083333vw;
    height: 20.8333333333vw;
    top: 23.4375vw;
    left: calc(50% - 35.15625vw);
  }
  .section-kv__shine03 {
    width: 13.0208333333vw;
    height: 17.4479166667vw;
    top: 24.7395833333vw;
    left: calc(50% - 36.4583333333vw);
  }
  .section-kv__textbox {
    width: 95%;
    margin: -32.5520833333vw auto;
  }
  .section-kv__sec-title {
    max-width: 89.5833333333vw;
    padding-top: 1.8229166667vw;
  }
  .section-kv .icon-line {
    width: 72.1354166667vw;
    height: 72.0052083333vw;
  }
  .section-kv__line02 {
    top: 6.5104166667vw;
    left: calc(50% + 39.0625vw);
    z-index: 2;
  }
  .section-kv__line03 {
    bottom: -55.9895833333vw;
    left: calc(50% - 15.625vw);
  }
  .section {
    padding: 19.53125vw 0;
  }
  .section::before, .section::after {
    padding-bottom: 30.2083333333vw;
  }
  .section:nth-child(2)::before {
    top: -13.0208333333vw;
    background-position: left 16% bottom;
  }
  .section:nth-child(2)::after {
    bottom: -29.9479166667vw;
    background-position: right 15% center;
  }
  .section:nth-child(3)::after {
    bottom: -29.9479166667vw;
    background-position: left 16% bottom;
  }
  .section:nth-child(4)::after {
    background-position: left 56% bottom;
  }
  .section .decobox__circle-blue01 {
    width: 30.5989583333vw;
    height: 30.5989583333vw;
    left: calc(50% + 29.9479166667vw);
    top: 104.1666666667vw;
    z-index: 2;
  }
  .section .decobox__circle-blue02 {
    width: 13.8020833333vw;
    height: 13.8020833333vw;
    top: 5.859375vw;
    left: calc(50% - 46.3541666667vw);
  }
  .section .decobox__circle-pink {
    width: 9.1145833333vw;
    height: 9.1145833333vw;
    top: 11.71875vw;
    left: calc(50% + 14.9739583333vw);
  }
  .section .decobox__circle-purple {
    width: 24.4791666667vw;
    height: 24.4791666667vw;
    top: 140.625vw;
    left: calc(50% - 58.59375vw);
  }
  .section .decobox__circle-blue-xs {
    width: 82px;
    height: 82px;
    left: calc(50% - 40.6875em);
    top: 56.25em;
  }
  .section .decobox__circle-yellow01 {
    width: 33.8541666667vw;
    height: 33.8541666667vw;
    left: calc(50% - 61.1979166667vw);
    bottom: -28.6458333333vw;
  }
  .section .decobox__circle-yellow02 {
    width: 39.0625vw;
    height: 39.0625vw;
    left: calc(50% + 31.25vw);
    top: 156.25vw;
  }
  .section .decobox__vector-slash {
    width: 47.265625vw;
    height: 47.265625vw;
    left: calc(50% - 79.4270833333vw);
    top: 6.25vw;
  }
  .section .decobox__vector-slash.right {
    width: 39.0625vw;
    height: 39.0625vw;
    top: 174.4791666667vw;
    left: calc(50% + 39.0625vw);
  }
  .section .decobox__vector-dots {
    width: 11.71875vw;
    height: 11.71875vw;
  }
  .section .decobox__vector-dots.left {
    top: auto;
    bottom: 9.1145833333vw;
    left: calc(50% - 55.9895833333vw);
  }
  .section .decobox__line-yellow {
    width: 110.6770833333vw;
    height: 110.6770833333vw;
    top: -5.2083333333vw;
    left: calc(50% - 136.71875vw);
  }
  .section .decobox__line-purple {
    width: 93.359375vw;
    height: 93.359375vw;
    bottom: -71.6145833333vw;
    left: calc(50% + 26.0416666667vw);
  }
  .section-heading__about {
    width: 53.7760416667vw;
    height: 6.25vw;
  }
  .section-heading__intro {
    width: 76.8229166667vw;
    height: 6.25vw;
  }
  .section-heading__free {
    width: 91.1458333333vw;
    height: 9.1145833333vw;
  }
  .section-heading__pro {
    width: 78.125vw;
    height: 8.4635416667vw;
  }
  .section-heading__more {
    width: 78.125vw;
    height: 9.1145833333vw;
  }
  .section-heading__daren {
    width: 43.0989583333vw;
    height: 4.9479166667vw;
  }
  .section-heading__apply {
    width: 39.5833333333vw;
    height: 7.8125vw;
  }
  .section-heading__text {
    padding: 4.1666666667vw 0;
    font-size: 4.296875vw;
  }
  .section-btnbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-intro__inner {
    padding-bottom: 6.5104166667vw;
  }
  .section-chapter {
    padding-top: 26.0416666667vw;
  }
  .section-chapter__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    padding-bottom: 18.2291666667vw;
  }
  .section-chapter__content.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .section-chapter__textbox {
    margin-top: 4.6875vw;
  }
  .section-chapter__imgbox .d-girl01 {
    width: 67.3177083333vw;
    height: 48.9583333333vw;
  }
  .section-chapter__imgbox .d-girl02 {
    width: 61.0677083333vw;
    height: 52.34375vw;
  }
  .section-chapter__imgbox .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-chapter__imgbox .inner__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section-chapter__imgbox .inner__item-img {
    width: 20.1822916667vw;
    height: 20.1822916667vw;
  }
  .section-chapter__imgbox .inner__item-name {
    font-size: 4.6875vw;
  }
  .section-daren {
    padding-top: 19.53125vw;
  }
  .section-daren__title {
    margin-top: 10.4166666667vw;
    padding-left: 9.1145833333vw;
    font-size: 4.6875vw;
  }
  .section-daren__title-icon::before {
    width: 10.4166666667vw;
    height: 7.8125vw;
    top: 0;
  }
  .section-daren__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 6.25vw auto;
  }
  .section-daren__left {
    padding-right: 0;
  }
  .section-daren__item {
    width: 100%;
    margin-bottom: 4.4444444444vw;
  }
  .section-daren__card, .section-daren-sm, .section-daren-md, .section-daren-xl {
    width: 100%;
    height: 49.21875vw;
    border-radius: 4.1666666667vw;
  }
  .section-daren__card-tag, .section-daren-sm-tag, .section-daren-md-tag, .section-daren-xl-tag {
    padding: 1.0416666667vw 2.0833333333vw;
    font-size: 3.90625vw;
    border-radius: 0 0 4.1666666667vw 0;
  }
  .section-daren__card-heading, .section-daren-sm-heading, .section-daren-md-heading, .section-daren-xl-heading {
    bottom: 4.1666666667vw;
    max-height: 21.3541666667vw;
    padding: 4.1666666667vw 4.1666666667vw 0;
    font-size: 4.296875vw;
  }
  .section-daren__author {
    font-size: 4.1666666667vw;
  }
  .section-daren__author .profile {
    width: 6.25vw;
    height: 6.25vw;
  }
  .section-daren__author .name {
    padding: 0 2.0833333333vw;
  }
  .section-daren__author .count {
    padding-right: 1.0416666667vw;
  }
  .section-daren__author .medal {
    width: 6.25vw;
    height: 6.25vw;
  }
  .section-step {
    padding-top: 19.53125vw;
    padding-bottom: 11.71875vw;
  }
  .section-step__rule {
    padding: 3.125vw 0;
    font-size: 4.296875vw;
  }
  .section-step__content {
    margin: 8.4635416667vw 0 14.9739583333vw;
  }
  .section-step__item {
    max-width: 70.3125vw;
  }
  .section-step__item-img {
    width: 28.90625vw;
    height: 26.0416666667vw;
  }
  .section-step__item-text {
    padding: 1.0416666667vw 0 3.125vw;
    margin-left: 3.125vw;
    font-size: 4.1666666667vw;
  }
  .section-step__item-text .title {
    font-size: 6.25vw;
  }
  .section-step__item-text .num {
    font-size: 9.375vw;
    margin-right: -1.0416666667vw;
  }
  .section-step__item-text .step {
    font-size: 4.296875vw;
  }
  .section-step__item .arrow {
    width: 6.5104166667vw;
    height: 13.671875vw;
    margin: 0 6.25vw;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .section-apply {
    padding: 2.0833333333vw 0;
    -webkit-box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.3);
            box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.3);
  }
}
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 1.75em 0.5em 0;
  padding: 0.5em 1.5em;
  border-radius: 4rem;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  background: #fa65a1;
  text-align: center;
}
.btn:hover {
  background: #cf176a;
}
.btn::after {
  content: "";
  background: url(../images/icon-arrow--white.svg);
  width: 15px;
  height: 12px;
  position: absolute;
  display: block;
}
.btn--md {
  min-width: 187px;
}
.btn--md::after {
  right: 2em;
}
.btn--lg {
  min-width: 200px;
}
.btn--lg::after {
  right: 1.5em;
}
.btn--xl {
  min-width: 280px;
}
.btn-apply {
  display: inline-block;
  margin: auto 0.5em;
  font-size: 28px;
  font-weight: 700;
}
.btn-apply::after {
  display: none;
}

@media screen and (max-width: 768px) {
  .btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 2.0833333333vw auto;
    font-size: 4.6875vw;
  }
  .btn--md, .btn--lg {
    width: 50%;
    min-width: auto;
  }
  .btn--md::after, .btn--lg::after {
    width: 3.90625vw;
    height: 3.125vw;
  }
  .btn--md::after {
    right: 6.25vw;
  }
  .btn--lg::after {
    right: 4.6875vw;
  }
  .btn--xl {
    width: 60%;
    min-width: 36.4583333333vw;
  }
  .btn-apply {
    padding: 2.0833333333vw 3.125vw;
    font-size: 7.2916666667vw;
  }
}
@-webkit-keyframes skewX {
  0% {
    -webkit-transform: skewX(1deg);
            transform: skewX(1deg);
  }
  100% {
    -webkit-transform: skewX(-2deg);
            transform: skewX(-2deg);
  }
}
@keyframes skewX {
  0% {
    -webkit-transform: skewX(1deg);
            transform: skewX(1deg);
  }
  100% {
    -webkit-transform: skewX(-2deg);
            transform: skewX(-2deg);
  }
}
@-webkit-keyframes skew {
  0% {
    -webkit-transform: skewX(5deg) translate(-3px);
            transform: skewX(5deg) translate(-3px);
  }
  100% {
    -webkit-transform: skewX(-5deg) translate(3px);
            transform: skewX(-5deg) translate(3px);
  }
}
@keyframes skew {
  0% {
    -webkit-transform: skewX(5deg) translate(-3px);
            transform: skewX(5deg) translate(-3px);
  }
  100% {
    -webkit-transform: skewX(-5deg) translate(3px);
            transform: skewX(-5deg) translate(3px);
  }
}
@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(-5px);
            transform: translatey(-5px);
  }
  50% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  to {
    -webkit-transform: translatey(-5px);
            transform: translatey(-5px);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translatey(-5px);
            transform: translatey(-5px);
  }
  50% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  to {
    -webkit-transform: translatey(-5px);
            transform: translatey(-5px);
  }
}
@-webkit-keyframes float2 {
  0% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}
@keyframes float2 {
  0% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
  15% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  20% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  30% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
  15% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  20% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  30% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}
@keyframes swing {
  0% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}
@-webkit-keyframes aniMarquee {
  100% {
    -webkit-transform: translateX(-1400px);
    transform: translateX(-1400px);
  }
}
@keyframes aniMarquee {
  100% {
    -webkit-transform: translateX(-1400px);
    transform: translateX(-1400px);
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes shine {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes shine {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes wave {
  100% {
    background-position: 50% bottom;
  }
}
@keyframes wave {
  100% {
    background-position: 50% bottom;
  }
}
.animate {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.animate_fadeIn {
  opacity: 0;
}
.animate_fadeUp {
  opacity: 0;
  -webkit-transform: translate(0, -50px);
          transform: translate(0, -50px);
}
.animate_fadeDown {
  opacity: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
}
.animate_fadeLeft {
  opacity: 0;
  -webkit-transform: translate(-50px, 0);
          transform: translate(-50px, 0);
}
.animate_fadeRight {
  opacity: 0;
  -webkit-transform: translate(50px, 0);
          transform: translate(50px, 0);
}
.animate_maskLeft {
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.animate_maskRight {
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.animate_maskUp {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.animate_maskDown {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}
.animate_active {
  opacity: unset;
  -webkit-transform: unset;
          transform: unset;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}
.animate_delay100 {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}
.animate_delay200 {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}
.animate_delay300 {
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}
.animate_delay400 {
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
}
.animate_delay500 {
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}
.animate_delay600 {
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
}
.animate_delay700 {
  -webkit-transition-delay: 700ms;
          transition-delay: 700ms;
}
.animate_delay800 {
  -webkit-transition-delay: 800ms;
          transition-delay: 800ms;
}
.animate_delay900 {
  -webkit-transition-delay: 900ms;
          transition-delay: 900ms;
}
.animate_delay1000 {
  -webkit-transition-delay: 1000ms;
          transition-delay: 1000ms;
}