.btn {
  @include flex-center;
  justify-content: space-between;
  position: relative;
  margin: px-em(28) px-em(8) 0;
  padding: px-em(8) px-em(24);
  border-radius: 4rem;
  font-size: 20px;
  font-weight: $medium;
  color: $white;
  background: $complementary;
  text-align: center;
  
  &:hover {
    background: $complementary-700;
  }

  &::after {
    content: "";
    background: url(../images/icon-arrow--white.svg);
    @include size(15px, 12px);
    position: absolute;
    display: block;
  }

  &--md {
    min-width: 187px;
    
    &::after {
      right: px-em(32);
    }

  }

  &--lg {
    min-width: 200px;
    &::after {
      right: px-em(24);
    }
  }

  &--xl {
    min-width: 200px;
    max-height: 65px;;
    padding: px-em(4) px-em(24);
  }


  &-apply {
    display: inline-block;
    margin: px-em(8) px-em(16);
    font-size: 24px;
    font-weight: $bold;

    &::after {
      display: none;
    }
  }
  
}

@media screen and (max-width:($mbrwd-breakpoint * 1px)) {
  .btn {
    justify-content: center;
    margin: vwm(16px) auto;
    font-size: vwm(36px);
    &--md,&--lg {
      width: 50%;
      min-width: auto;

      &::after {
        @include size(vwm(30px), vwm(24px));
      }
    }

    &--md {
      &::after {
        right: vwm(48px);
      }
    }
  
    &--lg {
      &::after {
        right: vwm(36px);
      }
    }

    &--xl {
      width: 40%;
      min-width: vwm(280px);
      max-height: initial;
    }

    &-apply {
      margin: vwm(4px) vwm(16px);
      padding: vwm(16px) vwm(24px);
      font-size: vwm(42px);
    }

  }
}