// 共用區域

.container {
  max-width:$pcrwd-breakpoint + px;
  padding: 0 16px;
  margin: 0 auto;
}

.logo {
  @include size (198px, 33px);
}

.header {
  position: fixed;
  top: 0;
  padding: 16px 0;
  width: 100%;
  background: $complementary;
  z-index: 999;
}

.footer {
  @include flex-center;
  position: relative;
  background: $analogous;
  color: $white;
  max-height: 100px;

  &-info {
    padding: 16px 0 24px;
    text-align: center;

    .logo {
      margin: 0 auto;
    }
  }

  .copy-right {
    padding-top: 16px;
  }
}

@media screen and (max-width:($mbrwd-breakpoint * 1px)) {

  .logo {
    @include size (vwm(274px), vwm(48px));
    margin: auto;
  }

  .header {
    padding: vwm(24px) 0;
  }

  .footer {
    max-height: vwm(200px);
    &-info {
      padding: vwm(16px) 0 vwm(24px);
  
    }
  
    .copy-right {
      padding: vwm(32px) 0;
      font-size: vwm(28px);
    }
  }

}