// 共用區域

.container {
  max-width:$pcrwd-breakpoint + px;
  padding: 0 16px;
  margin: 0 auto;
  position: relative;
  z-index: 4;
}

.logo {
  @include size (125px, 25px);
}

.header {
  position: sticky;
  top: 0;
  padding: 8px 0;
  width: 100%;
  background: $complementary;
  z-index: 9;
}

.footer {
  @include flex-center;
  position: relative;
  background: $analogous;
  color: $white;
  max-height: 100px;

  &-info {
    padding: 16px 0 24px;
    text-align: center;

    .logo {
      @include size (200px, 25px);
      margin: 0 auto;
    }
  }

  .copy-right {
    padding: 16px 0;
  }
}

@media screen and (max-width:($mbrwd-breakpoint * 1px)) {

  .logo {
    @include size (vwm(250px), vwm(50px));
    margin: auto;
  }

  .header {
    padding: vwm(12px) 0;
  }

  .footer {
    max-height: vwm(200px);
    &-info {
      padding: vwm(16px) 0 vwm(24px);
      .logo {
        @include size (vwm(400px), vwm(50px));
      }
    }
  
    .copy-right {
      padding: vwm(32px) 0;
      font-size: vwm(28px);
    }
  }

}