.btn {
  @include flex-center;
  justify-content: space-between;
  position: relative;
  margin: 0 px-em(8);
  padding: px-em(8) px-em(24);
  border-radius: 3rem;
  font-size: 20px;
  font-weight: $medium;
  color: $white;
  background: $complementary;
  text-align: center;
  
  &:hover {
    background: $complementary-700;
  }

  &::after {
    content: "";
    background: url(../images/icon-arrow--white.svg);
    @include size(15px, 12px);
    position: absolute;
    top: 19px;
    display: block;
  }

  &--md {
    min-width: 187px;
    
    &::after {
      right: px-em(32);
    }

  }

  &--l {
    min-width: 200px;
    &::after {
      right: px-em(24);
    }
  }

  &--xl {
    min-width: 280px;
  }


  &-apply {
    display: inline-block;
    font-size: 28px;
    font-weight: $bold;

    &::after {
      display: none;
    }
  }
  
}