.wrapper {
  overflow: hidden;
}

.section-kv {
  position: relative;
  overflow: hidden;
  min-height: $h;

  &__decobox {
    * {
      position: absolute;
    }
  }
  &__bg {
    min-height: $h;
    background: $primary-200;
  }

  &__circle {
    position: relative;
    width: 100%;
    height: $h;
    background: url(../images/kv-background-circle.svg)no-repeat;
    background-position: center top;
    background-size: auto 100%;
    z-index: 2;
  }

  &__corner {
    @include size(515px);
    left: calc(50% + px-em(448));
    bottom: 0;
  }

  &__marquee {
    top: px-em(-70);
    left: calc(50% + px-em(-1400));
    width: 100%;
    height: 100%;
    background: url(../images/kv-bg-marquee.svg)no-repeat;
    background-size: auto 100%;
    overflow: hidden;
  }



  &__cat01 {
    @include size(100px);
    left: calc(50% + px-em(-917));
    bottom: px-em(220);
    animation: swing 3s ease infinite;
  }

  &__cat02 {
    @include size(100px);
    top: px-em(386);
    left: calc(50% + px-em(808));
    animation: swing 2s ease infinite;
  }

  &__d-girl {
    @include size(1920px, 900px);
    z-index: 5;
    top:0;
    left: calc(50% + px-em(-960));
  }

  &__shine01 {
    @include size(48px, 65px);
    top: px-em(492);
    left: calc(50% + px-em(344));
    z-index: 4;
    animation: shine 1s infinite alternate-reverse;
  }

  &__shine02 {
    @include size(77px, 105px);
    top: px-em(156);
    left: calc(50% + px-em(-316));
    z-index: 4;
    animation: shine 1s infinite alternate-reverse;
  }

  &__shine03 {
    @include size(50px, 67px);
    top: px-em(190);
    left: calc(50% + px-em(-316));
    animation: shine 1s infinite alternate-reverse;
    animation-delay: .8s;
  }

  &__textbox {
    position: relative;
    z-index: 6;
    margin: px-em(-381) auto;
    animation: bounce 5s infinite alternate-reverse;
  }

  &__main-title {
    max-width: 1427px; 
    margin: 0 auto;
  }

  &__sec-title {
    max-width: 688px;
    margin: 0 auto;
    padding-top: px-em(14);
  }

  .icon-line {
    @include size(554px, 553px);
  }

  &__line01 {
    top: px-em(116);
    left: calc(50% + px-em(-1440));
  }

  &__line02 {
    top: px-em(-104);
    left: calc(50% + px-em(587));
  }

  &__line03 {
    bottom: px-em(-430);
    left: calc(50% + px-em(-94));
  }
}

.section {
  padding: 70px 0;

  .decobox {
    * {
      position: absolute;
      z-index: 3;
    }

    &__circle {

      &-blue01 {
        @include size(345px);
        left: calc(50% + px-em(560));

        &.right {
          top: 525px;
          left: calc(50% + px-em(470));
        }
      }

      &-blue02 {
        @include size(140px);
        top: px-em(45);
        left: calc(50% + px-em(-689));

        &.left {
          top: 1188px;
          left: calc(50% + px-em(-650));
        }
      }

      &-pink {
        @include size(70px);
        top: px-em(55);
        left: calc(50% + px-em(519));
      }
      
      &-purple {
        @include size(188px);
        top: px-em(496);
        left: calc(50% + px-em(-825));
      }

      &-blue-xs {
        @include size(82px);
        left: calc(50% + px-em(-651));
        top: px-em(900);
      }

      &-yellow01 {
        @include size(367px);
        left: calc(50% + px-em(-945));
        bottom: px-em(-205);
      }

      &-yellow02 {
        @include size(375px);
        left: calc(50% + px-em(470));
        top: px-em(240);
      }
    }

    &__vector {

      &-slash {
        @include size(366px);
        left: calc(50% + px-em(-910));
        &.right {
          top: px-em(420);
          left: calc(50% + px-em(624));
        }

        &.left {
          top: px-em(1188);
          left: calc(50% + px-em(-885));
        }
      }
      &-dots {
        @include size(71px, 176px);
        top: px-em(340);
        left: calc(50% + px-em(788));
        &.left {
          top: px-em(997);
          left: calc(50% + px-em(-885));
        }

        &.right {
          top: px-em(750);
          left: calc(50% + px-em(720));
        }
      }

    }

    &__line {
      &-yellow {
        @include size(717px);
        top: px-em(-14);
        left: calc(50% + px-em(-1280));
        z-index: 3;
      }

      &-purple {
        @include size(717px);
        bottom: px-em(-482);
        left: calc(50% + px-em(606));
        transform: rotateY(180deg);
      }

      &-blue {
        @include size(717px);
        top: px-em(344);
        left: calc(50% + px-em(-1280));
      }
    }
  }

  // bg wave上下 樣式
  &::before,&::after {
    content: "";
    position: absolute;
    left: 50%;
    display: block;
    width: 100%;
    padding-bottom: 200px;
    transform: translate(-50%);
    z-index: 1;
  }

  &:nth-child(2) {
    &::before {
      top: 0;
      background: url(../images/bg-gray--wave.svg);
      background-size: auto 100%;
      background-position: right bottom;
      background-repeat: repeat-x;
      animation: wave 3s infinite linear alternate-reverse;
    }

    &::after {
      bottom: -150px;
      background: url(../images/bg-yellow--wave.svg);
      background-size: auto 100%;
      background-repeat: repeat-x;
      animation: wave 3s infinite linear alternate-reverse;
    }
  }

  &:nth-child(3) {
    &::after {
      bottom: -200px;
      background: url(../images/bg-gray--wave.svg);
      background-size: auto 100%;
      background-position: right bottom;
      background-repeat: repeat-x;
      animation: wave 3s infinite linear alternate-reverse;
    }
  }

  &:nth-child(4) {
    &::after {
      bottom: px-em(0);
      background: url(../images/bg-green--wave.svg);
      background-size: auto 100%;
      background-repeat: repeat;
      background-position: right bottom;
      animation: wave 3s infinite linear alternate-reverse;
    }
  }

  // 共用 style
  .row-column {
    @include flex-column;
  }

  &-heading {
    height: 40px;
    margin: 0 auto;
    
    &__about {
      width: 330px;
    }
    &__intro {
      width: 490px;
    }
    &__free {
      @include size (445px, 50px);
    }
    &__pro {
      @include size (347px, 46px);
    }
    &__more {
      @include size (317px, 48px);
    }
    &__daren {
      width: 330px;
    }
    &__apply {
      width: 246px;
    }
    &__text {
      padding: 24px 0;
      font-size: 20px;
    }
  }

  &-wrapper {
    padding-top: 90px;
  }

  &-btnbox {
    @include flex-center;
  }

  &-intro {
    background: #dafffa;
    position: relative;
    padding-bottom: 0;;
    z-index: 3;

    &__inner {
      padding-bottom: 50px;
      position: relative;
      z-index: 3;
    }
  }

  &-chapter {
    position: relative;
    width: 100%;
    background: $secondary-100;

    &__content {
      @include flex-center;
      padding-bottom: 70px;

      &:nth-last-child(1) {
        padding-bottom: 0;
      }

      &.reverse {
        flex-direction: row-reverse;
      }

    }

    &__imgbox {
      margin-left: 16px;

      .inner {
        @include flex-center;

        &__item {
          @include flex-column;
          margin: 0 24px;
          &-img {
            @include size ( 103px, 103px);
          }
          &-name {
            font-size: 20px;
            font-weight: $medium;

            &.level-1 {
              color: $primary-900;
            }
            
            &.level-2 {
              color: #3099f0;
            }

            &.level-3 {
              color: $complementary;
            }
          }
        }

      }

      .d-girl01 {
        @include size (431px, 313px);
      }

      .d-girl02 {
        @include size (391px, 335px);
      }

    }
  }

  &-daren {
    position: relative;
    padding-top: 90px;
    background: #dafffa;
    

    &__title {
      @include flex-start;
      position: relative;
      margin-top: 40px;
      padding-left: 46px;
      font-size: 32px;
      font-weight: $bold;
      color: $primary-900;

      &-icon {
        &::before {
          @include size(46px, 38px);
          content: "";
          position: absolute;
          top: 5px;
          left: 0;
          background: url(../images/icon-forum.svg)no-repeat;
          background-position: left top;
        }

        &.home {
          &::before {
            background: url(../images/icon-home.svg)no-repeat;
          }
        }
      }
    }

    &__row {
      @include flex-center;
      position: relative;
      margin-top: 24px;
      z-index: 5;
    }

    &__left {
      padding-right: 24px;
    }

    &__item {
      margin-bottom: 16px;
      overflow: hidden;
      
    }

    &__card {
      display: inline-block;
      @include size(575px, 378px);
      position: relative;
      background: url(../images/bh_no_image.svg) $gray-700;
      background-size: auto 100%;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 16px;
      overflow: hidden;
      &:hover {
        img {
          transition: .4s ease;
          transform: scale(1.1);
        }
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%, rgba(0,0,0, .9) 100%);
        width: 100%;
        height: 100%;
        z-index: 4;
      }

      &-sm {
        height: 246px;
      }

      &-md {
        @include size(450px, 270px);
      }

      &-lg {
        @include size(450px, 362px);
      }

      &-img {
        width: 100%;
        height: 100%;

        .cover {
          height: 100%;
          object-fit: cover;

        }
      }

      &-tag {
        position: absolute;
        top: 0;
        left: 0;
        padding: 8px 12px;
        font-size: 16px;
        color: $white;
        background: rgba(0, 183, 146, .8);
        border-radius: 0 0 16px 0;
        z-index: 6;
      }

      &-heading {
        display: -webkit-box;
        position: absolute;
        bottom: 16px;
        width: 100%;
        max-height: 82px;
        padding: 16px 16px 0;
        font-size: 20px;
        font-weight: $bold;
        color: $white;
        z-index: 5;
        overflow:hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

      }
    }

    &__author {
      display: flex;
      align-items: center;
      &:hover {
        color: $gray-700;
      }

      .profile {
        @include size (24px);
        @include flex-center;
        background: $primary-900;
        border-radius: 100%;
        object-fit: cover;
      }

      .name {
        padding:0 8px;
        font-weight: $medium;

      }

      .count {
        padding-right: 4px;
        color: #7e7e7e;
      }

      .medal {
        @include size(24px);
      }
    }

  }

  &-step {
    position: relative;
    padding-bottom: 90px;
    z-index: 4;
    &__rule {
      padding: 24px 0;
      font-size: 20px;
      text-align: center;
    }

    &--link {
      color: $analogous;
      font-weight: $bold;
      text-decoration: underline;
      &:hover {
        color: $analogous-200;
      }
    }

    &__content {
      @include flex-center;
      align-items: flex-start;
      margin: 65px 0 115px;
    }

    &__item {
      @include flex-column;
      position: relative;
      max-width: 270px;
      

      &-img {
        @include size (222px, 200px)
      }

      &-text {
        padding: 8px 0 24px;
        font-size: 18px;
        .title {
          color: $analogous;
          font-size: 24px;
          font-weight: $bold;
          text-align: center;
          white-space: nowrap;
        }
        .num {
          font-size: 72px;
          margin-right: -8px;
          color: $analogous;
          opacity: .2;
          font-weight: $black;
        }
        .step {
          font-size: 24px;
          
        }
      }

      .arrow {
        @include size (25px, 210px);
        margin:0 48px;
      }
    }
  }

  &-apply {
    width: 100%;
    padding: 16px 0;
    background: rgba(1, 90, 72, 1);
    text-align: center;
    box-shadow: (0 -5px 20px) rgba(0, 0, 0, .3);
    position: fixed;
    bottom: -1px;
    z-index: 99999;
    transition: .4s ease;

    &--fixed {
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
