@media screen and (max-width:($pcrwd-breakpoint * 1px)) {

  .container {
    padding: 0 vw(16px);
  }

  .section-kv {
    min-height: vw($h);

    &__bg {
      min-height: vw($h);
    }

    &__circle {
      height: vw($h);
      background: url(../images/kv-background-circle.svg)no-repeat;
      background-position: center top;
      background-size: auto 100%;
      z-index: 2;
    }

    &__textbox {
      margin: vw(-300px) auto;
    }

    &__d-girl {
      @include size(vw(1920px), vw(900px));
      @include center;
    }

    &__shine01 {
      @include size(vw(48px), vw(65px));
      top: vw(492px);
      left: calc(50% + vw(344px));
    }
  
    &__shine02 {
      @include size(vw(109px), vw(159px));
      top: vw(104px);
      left: calc(50% + vw(-316px));
    }

    &__shine03 {
      @include size(vw(50px), vw(67px));
      top: vw(190px);
      left: calc(50% + vw(-316px));
    }
  
    &__main-title {
      max-width: vw(1427px); 
    }
  
    &__sec-title {
      max-width: vw(688px);
      margin: 0 auto;
      padding-top: px-em(14);
    }
  }

  .section {
    padding-top: vw(100px);
    &-chapter {
      padding-top: vw(200px);
    }
    &-step {
      padding-top: vw(200px);
      &__content {
        @include flex-column;
      }

      &__item {
        flex-direction: row;
        max-width: vw(540px);
      }

      .arrow {
        transform: rotate(90deg);
        @include size (vw(25px), vw(210px));
        margin:0 vw(48px);
      }
    }

    &-daren {

      &__title {
        margin-top: vw(40px);
        padding-left: vw(46px);
        font-size: vw(32px);
  
        &-icon {
          &::before {
            @include size(vw(46px), vw(38px));
            top: vw(5px);
          }
        }
      }
  
      &__row {
        margin-top: vw(40px);
      }
  
      &__left {
        padding-right: vw(24px);
      }
  
      &__item {
        margin-bottom: vw(16px);
      }
  
      &__card {
        @include size(vw(575px), vw(378px));
        border-radius: vw(16px);

        &-sm {
          height: vw(246px);
        }
  
        &-md {
          @include size(vw(450px), vw(270px));
        }
  
        &-lg {
          @include size(vw(450px), vw(362px));
        }
  
        &-tag {
          padding: vw(8px) vw(12px);
          font-size: vw(16px);
          border-radius: 0 0 vw(16px) 0;
        }
  
        &-heading {
          bottom: vw(16px);
          max-height: vw(82px);
          padding: vw(16px) vw(16px) 0;
          font-size: vw(20px);
        }
      }
  
      &__author {
  
        .profile {
          @include size (vw(24px));
        }
  
        .name {
          padding:0 vw(8px);
        }
  
        .count {
          padding-right: vw(4px);
        }
  
        .medal {
          @include size(vw(24px));
        }
      }
    }

    &-apply {
      padding: vwm(40px) 0;
      box-shadow: (0 vwm(-10px) vwm(40px)) rgba(0, 0, 0, .3);
    }
  }
}