@media screen and (max-width:($mbrwd-breakpoint * 1px)) {

  .container {
    padding: 0 vwm(40px);
  }

  .section-kv {
    min-height: vwm($h);

    &__bg {
      min-height: vwm($h);
    }

    &__circle {
      height: vwm($h);
      background-position: right 45% center ;
    }

    &__marquee {
      top: vwm(-280px);
      left: calc(50% + vwm(-880px));
    }

    &__cat01 {
      @include size(vwm(100px));
      left: calc(50% + vwm(-300px));
      bottom: vwm(280px);
    }

    &__d-girl {
      @include size(vwm(1700px), vwm(750px));
    }

    &__shine01 {
      @include size(vwm(48px), vwm(65px));
      top: vwm(480px);
      left: calc(50% + vwm(270px));
    }

    &__shine02 {
      @include size(vwm(109px), vwm(160px));
      top: vwm(180px);
      left: calc(50% + vwm(-270px));
    }

    &__shine03 {
      @include size(vwm(100px), vwm(134px));
      top: vwm(190px);
      left: calc(50% + vwm(-280px));
    }

    &__textbox {
      width: 95%;
      margin: vwm(-250px) auto;
    }

    &__sec-title {
      max-width: vwm(688px);
      padding-top: vwm(14px);
    }

    .icon-line {
      @include size(vwm(554px), vwm(553px));
    }

    &__line02 {
      top: vwm(50px);
      left: calc(50% + vwm(300px));
      z-index: 2;
    }

    &__line03 {
      bottom: vwm(-430px);
      left: calc(50% + vwm(-120px));
    }
  

  
  }


  .section {
    padding: vwm(150px) 0;

    &::before,&::after {
      padding-bottom: vwm(250px);
    }

    &:nth-child(2) {

      &::before {
        background-position: right 16% bottom;;
      }

      &::after {
        bottom: vwm(-230px);
        background-position: left 10% bottom;
      }
    }

    &:nth-child(3) {
      &::after {
        bottom: vwm(-230px);
        background-position: right 10% bottom;
      }
    }

    &:nth-child(4) {
      &::after {
        background-position: right 40% bottom;
      }
    }

    // 底下內容 decobox
    .decobox {

      &__circle {

        &-blue01 {
          @include size (vwm(235px));
          left: calc(50% + vwm(230px));
          top: vwm(800px);
          z-index: 2;
        }

        &-blue02 {
          @include size(vwm(106px));
          top: vwm(45px);
          left: calc(50% + vwm(-356px));
        }

        &-pink {
          @include size(vwm(70px));
          top: vwm(90px);
          left: calc(50% + vwm(115px));
        }
        
        &-purple {
          @include size(vwm(188px));
          top: vwm(1080px);
          left: calc(50% + vwm(-450px));
        }

        &-blue-xs {
          @include size(82px);
          left: calc(50% + px-em(-651));
          top: px-em(900);
        }

        &-yellow01 {
          @include size(vwm(260px));
          left: calc(50% + vwm(-470px));
          bottom: vwm(-220px);
        }

        &-yellow02 {
          @include size(vwm(300px));
          left: calc(50% + vwm(240px));
          top: vwm(1200px);
        }
      }

      &__vector {

        &-slash {
          @include size(vwm(363px));
          left: calc(50% + vwm(-610px));
          top: vwm(48px);
          &.right {
            @include size(vwm(300px));
            top: vwm(1340px);
            left: calc(50% + vwm(300px));
          }
        }
        &-dots {
          @include size(vwm(90px));
          &.left {
            top: auto;
            bottom: vwm(70px);
            left: calc(50% + vwm(-430px));
          }
        }

      }

      &__line {
        &-yellow {
          @include size(vwm(850px));
          top: vwm(-40px);
          left: calc(50% + vwm(-1050px));
        }

        &-purple {
          @include size(vwm(717px));
          bottom: vwm(-550px);
          left: calc(50% + vwm(200px));
        }
      }

    }

    &-heading {

      &__about {
        @include size (vwm(413px), vwm(48px));
      }
      &__intro {
        @include size (vwm(590px), vwm(48px));
      }
      &__free {
        @include size (vwm(700px), vwm(70px));
      }
      &__pro {
        @include size (vwm(600px), vwm(65px));
      }
      &__more {
        @include size (vwm(600px), vwm(70px));
      }
      &__daren {
        @include size (vwm(550px), vwm(48px));
      }
      &__apply {
        @include size (vwm(450px), vwm(72px));
      }
  
      &__text {
        padding: vwm(32px) 0;
        font-size: vwm(33px);
      }
    }

    &-btnbox {
      @include flex-column;
    }

    &-intro {
      &__inner {
        padding-bottom: vwm(50px);
      }
    }

    &-chapter {
      padding-top: vwm(200px);

      &__content {
        @include flex-column;
        flex-direction: column-reverse;
        padding-bottom: vwm(140px);
  
        &.reverse {
          flex-direction: column-reverse;
        }
      }

      &__textbox {
        margin-top: vwm(36px);
      }

      &__imgbox {
        
        .d-girl01 {
          @include size(vwm(517px), vwm(376px))
        }

        .d-girl02 {
          @include size(vwm(469px), vwm(402px))
        }

        .inner {
          @include flex-column;

          &__item {
            flex-direction: row;
            &-img {
              @include size ( vwm(155px), vwm(155px))
            }

            &-name {
              font-size: vwm(36px);
            }
          }
        }
      }
    }

    &-daren {
      padding-top: vwm(150px);
      &__title {
        margin-top: vwm(80px);
        padding-left: vwm(70px);
        font-size: vwm(36px);
  
        &-icon {
          &::before {
            @include size(vwm(80px), vwm(60px));
            top: 0;
          }
        }
      }
  
      &__row {
        @include flex-column;
        margin: vwm(48px) auto;
      }
  
      &__left {
        padding-right: 0;
      }
  
      &__item {
        width: 100%;
        margin-bottom: vw(48px);
      }
  
      &__card,&-sm,&-md,&-xl {
        width: 100%;
        height: vwm(378px);
        border-radius: vwm(32px);
  
        &-tag {
          padding: vwm(8px) vwm(16px);
          font-size: vwm(30px);
          border-radius: 0 0 vwm(32px) 0;
        }
  
        &-heading {
          bottom: vwm(32px);
          max-height: vwm(164px);
          padding: vwm(32px) vwm(32px) 0;
          font-size: vwm(33px);
        }
      }
  
      &__author {
        font-size: vwm(32px);
  
        .profile {
          @include size (vwm(48px));
        }
        .name {
          padding:0 vwm(16px);
        }

        .count {
          padding-right: vwm(8px);
        }

        .medal {
          @include size(vwm(48px));
        }
      }
  
    }

    &-step {
      padding-top: vwm(150px);
      padding-bottom: vwm(90px);

      &__rule {
        padding: vwm(40px) 0 vwm(24px);
        font-size: vwm(33px);
      }

      &__content {
        margin: vwm(65px) 0 vwm(115px);
      }

      &__item {
        max-width: vwm(540px);
        
        &-img {
          @include size (vwm(222px), vwm(200px))
        }
  
        &-text {
          padding: vwm(8px) 0 vwm(24px);
          margin-left: vwm(24px);
          font-size: vwm(32px);
          .title {
            font-size: vwm(48px);
          }
          .num {
            font-size: vwm(72px);
            margin-right: vwm(-8px);
          }
          .step {
            font-size: vwm(33px);
          }
        }
  
        .arrow {
          @include size (vwm(50px), vwm(105px));
          margin:0 vwm(48px);
          transform: rotate(90deg);
        }
      }
    }

    &-apply {
      padding: vwm(16px) 0;
      box-shadow: (0 -5px 20px) rgba(0, 0, 0, .3);
    }
  }
}