// main-color
$primary-50: #dbfaf4;
$primary-100: #a3f1e2;
$primary-200: #53e8cf;
$primary: $primary-200;
$primary-300: #00dbba;
$primary-400: #00ceaa;
$primary-500: #00c29a;
$primary-600: #00b38b;
$primary-700: #00a17a;
$primary-800: #00906b;
$primary-900: #00724c;

$complementary-50: #fde5ef;
$complementary-100: #fbbdd7;
$complementary-200: #fa92bc;
$complementary-300: #fa65a1;
$complementary: $complementary-300;
$complementary-400: #f9418a;
$complementary-500: #f81b74;
$complementary-600: #e61970;
$complementary-700: #cf176a;
$complementary-800: #ba1566;
$complementary-900: #93115d;

$secondary-50: #fffde5;
$secondary-100: #fff9c0;
$secondary-200: #fff595;
$secondary-300: #fef169;
$secondary-400: #fcec42;
$secondary-500: #ffeb15;
$secondary: $secondary-500;
$secondary-600: #fed80c;
$secondary-700: #febf00;
$secondary-800: #fea600;
$secondary-900: #fd7a00;

$analogous-50: #e0f5f0;
$analogous-100: #b2e6d8;
$analogous-200: #80d6bf;
$analogous-300: #47c5a5;
$analogous-400: #00b792;
$analogous: $analogous-400;
$analogous-500: #00a980;
$analogous-600: #009b74;
$analogous-700: #008a64;
$analogous-800: #007a56;
$analogous-900: #005d3a;

// base-color
$white: #ffffff;
$gray-50: #fbfbfb;
$gray-100: #f6f6f6;
$gray-200: #f2f2f2;
$gray-300: #e8e8e8;
$gray-400: #c6c6c6;
$gray-500: #a7a7a7;
$gray-600: #7e7e7e;
$gray-700: #696969;
$gray-800: #4a4a4a;
$gray-900: #282828;
$black: #000000;

// Weight
$medium: 500;
$bold: 700;
$black: 900;

$h: 1050px;

// Breakpoint
$pcrwd-breakpoint: 1080;
$mbrwd-breakpoint: 768;

$grid-breakpoints: (
  xs:0,
  sm: 576px,
  md: $mbrwd-breakpoint * 1px,
  lg: 1080px,
  xl: $pcrwd-breakpoint * 1px,
  xxl: 1400px) !default;


@function vw($target) {
  $vw-context: (
    $pcrwd-breakpoint * .01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@function vwm($target) {
  $vw-context: (
    $mbrwd-breakpoint * .01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@function xy($xy, $ttlw) {
  @return ($xy / $ttlw * 100%
);
}

@function px-em($px, $base: 16) {
  @return ($px / $base * 1em);
}

@mixin posXY($x: 0, $y: 0) {
  left: calc(50% + #{$x}px);
  top: xy($y, $h);
}

@mixin size($w: null, $h: $w) {
  width: $w;
  height: $h;
}

@mixin d-flex {
  display: flex;
}

@mixin flex-wrap {
  flex-wrap: wrap;
}

@mixin flex-start {
  display: flex;
  align-items: flex-start;
}

@mixin flex-end {
  display: flex;
  align-items: flex-end;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin breakpoint($breakpoints) {
  @if type_of($breakpoints)==number {
    @media (max-width:(breakpoint + px)) {
      @content;
    }
  }

  @else {
    $breakpoints: map-get($grid-breakpoints , $breakpoints);

    @if($breakpoints>1) {
      @media (max-width: ($breakpoints - 1px)) {
        @content;
      }
    }
  }
}